body{
    font-family: 'Bai Jamjuree', sans-serif;
}
body p{
    color: #7d7d7d;
}
body h1 h2 h3{
    color: #595959;
}
.header{
    color: hsl(171, 66%, 44%);
}
.button{

}
.footer{
    background-color: lightgray;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img{
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    justify-content: space-around;
}
.link {
    color: #7d7d7d;
    margin-right: 5px;
}
.s1{

}
.s2{

}
.s3{

}
.s4{

}
.s5{

}
.s6{
    text-align: center;
    font-size: 20px;
}
.s6 p{
    font-size: 18px;
}